<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="The blog of Jenu!" />
        <meta name="keywords" content="blog, posts, Jenu!" />
        <meta name="author" content="Jenu Patel" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome, friends!</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            <!-- inheritance -->
            {% block content %}
            {% endblock %}
            <!-- end inheritance -->
        </div>
    </body>
</html>
